In [28]:
import pandas as pd
import numpy as np

In [29]:
df=pd.read_csv('diabetic_data.csv')
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [30]:
# Since the empty data in the data set are '?' value replacing the ? value with NAn 
df.replace('?', np.nan, inplace=True)

In [31]:
# Check for null values in the entire DataFrame
null_values = df.isnull()

# Count the number of null values in each column
null_count = df.isnull().sum()

# Display the null count for each column
print(null_count)

encounter_id                    0
patient_nbr                     0
race                         2273
gender                          0
age                             0
weight                      98569
admission_type_id               0
discharge_disposition_id        0
admission_source_id             0
time_in_hospital                0
payer_code                  40256
medical_specialty           49949
num_lab_procedures              0
num_procedures                  0
num_medications                 0
number_outpatient               0
number_emergency                0
number_inpatient                0
diag_1                         21
diag_2                        358
diag_3                       1423
number_diagnoses                0
max_glu_serum                   0
A1Cresult                       0
metformin                       0
repaglinide                     0
nateglinide                     0
chlorpropamide                  0
glimepiride                     0
acetohexamide                   0
glipizide                       0
glyburide                       0
tolbutamide                     0
pioglitazone                    0
rosiglitazone                   0
acarbose                        0
miglitol                        0
troglitazone                    0
tolazamide                      0
examide                         0
citoglipton                     0
insulin                         0
glyburide-metformin             0
glipizide-metformin             0
glimepiride-pioglitazone        0
metformin-rosiglitazone         0
metformin-pioglitazone          0
change                          0
diabetesMed                     0
readmitted                      0
dtype: int64

In [32]:
# new_df.columns

In [33]:
# len(new_df.columns)

In [34]:
# new_df['weight']

In [36]:
# new_df=new_df.drop('weight', axis=1)
# new_df

In [37]:
# new_df['payer_code'].value_counts()

In [38]:
# new_df=new_df.drop('payer_code', axis=1)
# new_df

In [39]:
# missing_data=new_df.isna()
# missing_data

In [41]:
# # Check if any missing data exists
# any_missing = missing_data.any().any()

# # Check the total count of missing values
# total_missing_count = missing_data.sum().sum()

# print("Are there any missing values?", any_missing)
# print("Total missing values:", total_missing_count)

In [40]:
# new_df['medical_specialty'].value_counts()

In [42]:
# new_df=new_df.drop('medical_specialty', axis=1)
# new_df

In [43]:
# len(new_df)

In [44]:
# randomly selecting 10000 data from the cleaned dataset
sample_size=10000
new_sample_df=df.sample(n=sample_size)

In [45]:
len(new_sample_df)

10000

In [21]:
new_sample_df.to_csv('final_diabetic_dataset_1.csv', index=False)

In [22]:
final_df=pd.read_csv('final_diabetic_dataset.csv')
final_df.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,258928482,33378192,Caucasian,Female,[50-60),1,1,7,8,56,...,No,Up,No,No,No,No,No,Ch,Yes,NO
1,151650456,111717297,Caucasian,Female,[70-80),2,22,7,4,46,...,No,No,No,No,No,No,No,No,No,NO
2,144146046,92052630,Caucasian,Female,[70-80),2,3,7,9,34,...,No,Down,No,No,No,No,No,Ch,Yes,<30
3,171419850,65184075,AfricanAmerican,Female,[50-60),1,3,7,8,56,...,No,No,No,No,No,No,No,No,No,<30
4,158934780,26147637,Caucasian,Female,[50-60),2,1,7,4,42,...,No,Steady,No,No,No,No,No,Ch,Yes,>30

In [24]:
len(final_df.columns)

47